*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}
ul {
    list-style: none;
}
.header {
    background-color: #333333;
    color: #d0d0d0;
}

.header__nav-list {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 0.5rem;
    place-items: center;
    
}
.header__nav-link{
    text-decoration: none;
    color: inherit
}
.header__apple-logo {
    width: 20px;
    filter: invert(0.8);
}
 /* main{
    background-color: white;
     display: grid;
    align-content: space-between;
    padding-bottom: 0.5rem;
} */
.top-section{
    text-align: center;
}
.top-section__header {
    background-color: #f5f5f7;
    padding: 1rem 8rem;
    place-items: center;
}
.top-section__wrapper{
   background-image: url(./blue-iphone-13pro.png);
   background-size: 800px;
   background-position: center  bottom;
   background-repeat: no-repeat;
   height: 500px;
   background-color: white;   

   display: grid;
   align-content: flex-start;
   gap: 0.5rem;
   margin-bottom: 1rem;


}



.main__iphone-13-pro__links {
    display: grid;
    grid-template-columns: 100px 100px;
    place-content: center;;
   
}

.your-new-super-power{
    background-color:violet
}
.mackbook-pro {
    background-color: darkcyan;
}
.airpods-watch{
    background-color: blue;
}
.homepod-ipad{
    background-color: tomato;
}
.card-tv {
    background-color: burlywood;
}
.bottom {
    background-color: cornflowerblue;
}

