* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
ul {
  list-style: none;
}
:root {
  --link-color: #06c;
}
a {
  text-decoration: none;
  color: var(--link-color);
}
/*Body*/
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
/*HEADER SECTION*/
.header {
  background-color: #333333;
  color: #d0d0d0;
}
.header__nav-list {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 0.5rem;
  place-items: center;
}
.header__nav-link {
  color: inherit;
}
.header__apple-logo {
  width: 20px;
  filter: invert(0.8);
}
/*MAIN SECTION*/
.main {
  display: grid;
  grid-template-columns: 1fr;
}
/*TOP HEADER SECTION*/
.top-section {
  text-align: center;
}
.top-section__header {
  background-color: #f5f5f7;
  padding: 1rem;
}
/*TOP SECTION WRAPPER IPHONE 13 PRO*/
.top-section__wrapper {
  background-image: url(./blue-iphone-13pro.png);
  background-size: 800px;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 550px;
  background-color: white;

  display: grid;
  align-content: start;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.top-section .title {
  font-size: 2.7rem;
  margin-top: 3rem;
}
.top-section .subtitle {
  font-size: 1.8rem;
  font-weight: 500;
}
.top-section__nav-list {
  display: grid;
  grid-template-columns: auto auto;
  place-content: center;
  gap: 1rem;
}
.top-section__nav-link {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
/*SECOND SECTION IPHONE 13 */
.second-section {
  background-color: #35283c;
  text-align: center;
}
.second-section__wrapper {
  background-image: url(./iphone-13.jpg);
  background-size: 800px;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 600px;

  display: grid;
  align-content: start;
  gap: 0.5rem;
}
.second-section .title {
  font-size: 2.7rem;
  margin-top: 3rem;
  color: #f5f5f7;
}
.second-section .subtitle {
  font-size: 1.8rem;
  font-weight: 500;
  color: #f9bee6;
}
.second-section__nav-list {
  display: grid;
  grid-template-columns: auto auto;
  place-content: center;
  gap: 1rem;
}
.second-section__nav-link {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
/*THIRD SECTION MACBOOK PRO*/
.third-section {
  background-color: white;
  text-align: center;
}
.third-section__wrapper {
  background-image: url(./macbook-pro.webp);
  background-size: 800px;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 600px;

  display: grid;
  align-content: start;
  gap: 0.5rem;
}
.third-section .title {
  font-size: 2.7rem;
  margin-top: 3rem;
  color: #1d1d1f;
}
.third-section .subtitle {
  font-size: 1.8rem;
  font-weight: 500;
  color: #1d1d1f;
}
.third-section__nav-list {
  display: grid;
  grid-template-columns: auto auto;
  place-content: center;
  gap: 1rem;
}
.third-section__nav-link {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
/*FOURTH SECTION AIRPODS AND WATCH*/
.fourth-section {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
.fourth-section .title {
  font-size: 1.7rem;
  margin-top: 2rem;
  color: #1d1d1f;
}
.fourth-section .subtitle {
  font-size: 1rem;
  font-weight: 500;
  color: #1d1d1f;
}
.fourth-section__nav-list {
  display: grid;
  grid-template-columns: auto auto;
  place-content: center;
  gap: 1rem;
}
.fourth-section__nav-link {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  margin-bottom: 3rem;
}
/*FOURTH SECTION LEFT AIRPODS*/
.forurth-section__left__wrapper {
  background-image: url(./airpods.jfif);
  background-size: 400px;
  background-position: center top;
  background-repeat: no-repeat;
  height: 400px;

  display: grid;
  align-content: end;
  gap: 0.5rem;
}
/*FOURTH SECTION RIGHT WATCH*/
.forurth-section__right__wrapper {
  background-image: url(./watch.jpg);
  background-size: 350px;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 400px;

  display: grid;
  align-content: start;
  background-color: #f5f5f7;
  gap: 0.3rem;
}
.forurth-section__right__label {
  color: #d28658;
  margin-top: 2rem;
}

.apple-logo-2 {
  width: 40px;
  margin-bottom: 0.8rem;

}
.forurth-section__right__wrapper__watch {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
}
.forurth-section__right__wrapper .title {
  margin-top: 0%;
}
.forurth-section__right__series {
  color: #d13b41;
  justify-content: center;
}
/*FIFTH SECTION HOMEPOD MINI AND IPAD MINI*/
.fifth-section {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
.fifth-section .title {
  font-size: 1.7rem;
  margin-top: 2rem;
  color: #1d1d1f;
}
.fifth-section .subtitle {
  font-size: 1rem;
  font-weight: 500;
  color: #1d1d1f;
}
.fifth-section__nav-list {
  display: grid;
  grid-template-columns: auto auto;
  place-content: center;
  gap: 1rem;
}
/*FIFTH SECTION LEFT HOMEPOD MINI*/
.fifth-section__nav-link {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  margin-bottom: 3rem;
}
.fifth-section__left__wrapper {
  background-image: url(./homepod-mini.jpg);
  background-size: 330px;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 400px;

  display: grid;
  align-content: start;
  gap: 0.5rem;
}
/*FIFTH SECTION RIGHT IPAD MINI*/
.fifth-section__right__wrapper {
  background-image: url(./ipad-mini.png);
  background-size: 360px;
  background-position: center top;
  background-repeat: no-repeat;
  height: 460px;

  display: grid;
  align-content: end;
  gap: 0.5rem;
}
/*BOTTOM SECTION CARD AND TV+*/
.bottom-section {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
.bottom-section .title {
  font-size: 1.7rem;
  margin-top: 2rem;
  color: #1d1d1f;
}
.bottom-section .subtitle {
  font-size: 1rem;
  font-weight: 500;
  color: #1d1d1f;
}
.bottom-section__left__nav-list {
  display: grid;
  grid-template-columns: auto auto;
  place-content: center;
  gap: 1rem;
}
.bottom-section__left__nav-link {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  margin-bottom: 3rem;
}
.bottom-section__right__link {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: black;
}
.bottom-section__left__wrapper{
  background-image: url(./card.jpg);
  background-size: 350px;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 400px;

  display: grid;
  align-content: start;
  gap: 0.5rem;
}
.bottom-section__right__wrapper{
  background-color: #fe8d28;
  height: 400px;
  display: grid;
  align-content: space-between;
}
.card-tv-apple-logo {
  width: 40px;
  margin-bottom: 0.8rem;

}
.bottom-section .title {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: cornflowerblue;
}
@media screen and (max-width: 750px) {
  .fourth-section {

   
    grid-template-columns: 1fr;

  }
}
